PRE {
  FONT:  14px/1.4   Verdana, "Bitstream Vera Sans", Courier New, helvetica; 
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 0.5em;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 0.5em;
    PADDING-BOTTOM: 0.5em;
    MARGIN-LEFT: 1em;
    BORDER-LEFT: #777777 1px solid;
    COLOR: black;
    MARGIN-RIGHT: 2em;
    PADDING-TOP: 0.5em;
    BORDER-BOTTOM: #777777 1px solid; 
    WHITE-SPACE: pre; 
    BACKGROUND-COLOR: #e6e6e6

}

* {
    padding: 0;
    margin: 0;
} 

body {
background: #fff url(images/header.gif) repeat-x;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;;
}


/*img { border: none; }*/

a { color: #6998F0; text-decoration: none; }
a:hover { text-decoration: underline; color : #000; }

#wrap {
width: 1100px;
margin: 0px auto;
}

#header {
height: 90px;
}

#header h1 {
padding: 20px 0 5px 10px;
font-size: 23px;
letter-spacing: -2px;
}
#header h1 a {
color: #000;
text-decoration: none;
}
#header h1 a:hover {
text-decoration: none;
color: #666;
}
#header h2 {
padding-left: 11px;
font-size: 17px;
color: #666;
font-weight: 100;
}

.right {
float: right;
width: 780px;
text-align: justify;
padding: 10px 10px 10px 50px;
border-left: 1px solid #aaa;
}
.right h2 {
color: #B4241B;
font-size: 23px;
letter-spacing: 0.5px;
font-weight: 100;
padding : 10px 0 15px 0;
}
.right h2 a {

}
.right h2 a:hover {

}
.left {
float: left;
width: 210px;
padding: 10px 1px 1px 30px;
}
.left h2 {
font-size: 17px;
color: #333;
padding: 5px 0px 2px 0px;
}
.left ul {
list-style-type: none;
padding: 5px 1px 5px 5px;
}
.left ul li {
padding: 8px 5px 0px 0px;
}

.left ul li a {
display: block;
color: #6998F0;
}
.left ul li a:hover {
color: #ff0000;
}

.footer {
text-align: center;
color: #666;
font-size: 14px;
padding: 10px;
background: #f7f7f7;
border-top: 1px solid #aaa;
}
.footer  a { color: #666; }


.yj_left {
float: left;
width: 450px;
text-align: justify;
}

.yj_right {
float: right;
width: 300px;
text-align: justify;
/*border-left: 1px solid #aaa;*/
padding-top:0px;
padding-bottom:0px;
padding-right:0px;
padding-left:00px;
}