PRE {
  FONT:  14px/1.4   Verdana, "Bitstream Vera Sans", Courier New, helvetica; 
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 0.5em;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 0.5em;
    PADDING-BOTTOM: 0.5em;
    MARGIN-LEFT: 1em;
    BORDER-LEFT: #777777 1px solid;
    COLOR: black;
    MARGIN-RIGHT: 2em;
    PADDING-TOP: 0.5em;
    BORDER-BOTTOM: #777777 1px solid; 
    WHITE-SPACE: pre; 
    BACKGROUND-COLOR: #e6e6e6

}


/* Figure
-------------------------------------------------------------------------- */
.figure {
  width: 810px;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  /* default centered */
  display: block;
  margin: 10px auto 20px;
  text-align: center;
}
.caption {
  margin-bottom: 0;
  font-size: 90%;
  line-height: 16px;
}



.figure2 {
  width: 410px;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  /* default centered */
  display: block;
  margin: 10px auto 20px;
  text-align: center;
}
.caption2 {
  margin-bottom: 0;
  font-size: 90%;
  line-height: 16px;
}

